
#bg {
    height: 50vh;
    width: 100vw;
    background-color: #666666;
    border-color: blueviolet;
}

#jumpy {
    height: 100px;
    width: 20px;
    background-color: blue;
    position: relative;
    top: 370px;
}

.anim {
    animation: jump_keyframe 500ms;
}

#object {
    top: 270px;
    height: 100px;
    width: 50px;
    position: relative;
    background-color: red;
}

#score_board {
    position: absolute;
    text-align: center;
    
    height: 5vh;
    width: 10vw;
    top: center;
    left: center;
    background-color: coral;
}

@keyframes jump_keyframe {
    0% { top: 370px; }
    50% { top: 105px;}
    100% { top: 370px; }
}

@keyframes object_keyframe {
    0% { left: 100vw;}
    50% { left: 50vw;} 
    100% { left: 0vw;} 

}
